table {
    border-collapse: collapse;
    font-size: 12pt;
    font-family: 'arial';
    width: 100%;
} 

table th {
    text-align: center;
    padding: 10px;
    background: #3d7ba8;
    color: #fff;
}

table tr:nth-child(odd){
    background: #fff;
}

table td{
    padding: 10px;
    text-align: center;
}

.link_asignar{
    color: #0ca4ce;
}
