body {
    background-color: rgba(0, 0, 0, 0.37);
}
.modal-contenido{
    background-color:#ffffff;
    width:350px;
    padding: 10px 20px;
    margin: 50px auto;
    position: relative;
    border-radius: 5%;
}

h2{
    text-align: center;
}

p{
    text-align: center;
}

.modal{
    top:0;
    right:0;
    bottom:0;
    left:0;
}

input[type=button]{
    width: 100%;
    background-color: #2b63dd;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: solid;
}

input[type=button]:hover {
    background-color: #2b63dd;
}

#miModal:target{
    opacity:1;
    pointer-events:auto;
}