:root {
    --main-bg: #000;
    --black: #000;
}

body {
    overflow-y: auto;
    position: relative;
}
.black{
    color: rgb(0, 0, 0); 
}
.main-bg {
    background: var(--main-bg) !important;
}

input:focus,
button:focus {
    border: 1px solid var(--main-bg) !important;
    box-shadow: none !important;
}

.form-check-input:checked {
    background-color: var(--main-bg) !important;
    border-color: var(--main-bg) !important;
}

.card, .btn, input {
    border-radius: 0.25rem !important;
}

.login {
    margin: auto;
    display: flex;
    align-items: center;
    height: 432px;
    vertical-align: middle;
}

header,
footer {
    height: 56px;
}

.border-bottom {
    border-bottom: 0px solid #dee2e6 !important;
}

header {
    background-color: var(--black)
}

.content {
    /* height: calc(100vh - 148px); */
    height: 100%;

}

.shadow {
    border-radius: 1rem !important;
    background-color: #f5f5f5;
    box-shadow: 14px 14px 31px 8px rgb(0 0 0 / 10%) !important
}

.footer {
    color: rgb(53, 52, 52);
    padding: 1rem;
    bottom: -80px;
    position: absolute;
    margin: auto;
    width: 100%;
}

.footer span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
}

.footer li {
    padding: 0 0.5rem;
}

.footer a {
    color: rgb(128, 128, 128);
}

footer .social_icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .social_icon li {
    list-style: none;
}

footer .social_icon li a {
    font-size: 1em;
    color: black;
    margin: 0 15px;
    display: inline-block;
    transition: 0.5s;
}

footer .social_icon li a:hover {
    transform: translateY(-10px);
}

footer p {
    color: black;
    text-align: center;
    font-size: 1em;

}
.btn-black {
    background: #000;
}
.icon-eye {
    position: absolute;
    right: 23px;
    top: 73%;
    transform: translateY(-62%);
    cursor: pointer;
    transition: .4s ease all;
}
.icon-eye:hover {
    opacity: 0.8;
}
.icon-user {
    position: absolute;
    right: 24px;
    top: 46%;
    transform: translateY(-62%);
    cursor: pointer;
    transition: .4s ease all;
}
.icon-user:hover {
    opacity: 0.8;
}
