.unidadAdministrativa {
  width: 375px;
  margin: 0 auto;
}

.ex1 {
  margin: auto;
  background: gold;
  width: 66%;
}

.ex2 {
  margin: 20px 0px 0 -20px;
  background: gold;
  width: 66%;
}
/*validacion*/
input:valid, textarea:valid {
  border: 1px solid green;
  border-radius: 4px;
}

input:invalid, textarea:invalid {
  border: 1px solid red;
  border-radius: 4px;
}