.nav {
    background: #009efb;
    /* Old browsers */
    background: -moz-linear-gradient(left, #0178bc 0%, #00bdda 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #0178bc 0%, #00bdda 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #0178bc 0%, #00bdda 100%);
    color: white;    
  }
.items {
    background: white;
}
.footer{
    color: #54667a;
    left: 0px;
    text-align: center;    
}
.icono{
    width: 80px;
}
